<!doctype html>
<html lang="en" layout:decorate="~{global}">
<head>
	<title>Image Details</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>GNSS (GPS) Data</h1>
		<div class="alert alert-primary d-flex align-items-center" role="alert" th:unless="${mapLocation}">
			<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
			<div>
				No GNSS data available.
			</div>
		</div>
		<div class="row align-items-start" th:if="${mapLocation}">
			<div class="col">
				<table class="table" >
					<thead>
					<tr>
						<th scope="col" class="col-4">Key</th>
						<th scope="col" class="col-8">Value</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">Latitude</th>
						<td th:text="${mapLocation.latitude}">value</td>
					</tr>
					<tr>
						<th scope="row">Longitude</th>
						<td th:text="${mapLocation.longitude}">value</td>
					</tr>
					<tr>
						<th scope="row">Altitude</th>
						<td th:text="${mapLocation.elevation} + 'm'">value</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col">
				<div id="map" style="width:400px;height:400px;background:grey">Map</div>
			</div>
		</div>
		<hr>

		<h1>Details</h1>

		<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
		<p th:text="${error}" th:if="${error ne null}" class="alert alert-danger"></p>

		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
			</symbol>
		</svg>

		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>

		<img class="img-thumbnail" th:src="@{'/images/' + ${filename} + '?width=500'}" th:alt="${filename}"/>

		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}" />
				</li>
			</ul>
		</div>

		<img th:each="file : ${files}" th:src="${file}"/>

		<h3>Metadata with [(${metadataCount})] elements</h3>

		<div th:each="m : ${metadata}">
			<h4><span th:text="${m.key.name}"></span> (<span th:text="${m.key.description}"></span>)</h4>
			<hr/>
			<table class="table" >
				<thead>
				<tr>
					<th scope="col" class="col-4">Key</th>
					<th scope="col" class="col-8">Value</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="m : ${m.value}">
					<th th:text="${m.propertyName}" scope="row">key</th>
					<td th:text="${m.propertyValue}">value</td>
				</tr>
				</tbody>
			</table>
		</div>
		<pre th:if="${xmpData}"><code class="language-xml"th:text="${xmpData}">XMP XML Data Here.</code></pre>
		<a class="btn btn-primary"
		   th:href="${(#mvc.url('IC#index')).build()}" role="button"><i class="bi bi-arrow-left"></i> Back</a>
	</main>

<th:block layout:fragment="script">
	<script th:if="${mapLocation}"
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
			defer
	></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

	<script th:inline="javascript" th:if="${mapLocation}">
		function initMap() {

			const imageLocation = { lat: [(${mapLocation.latitude})], lng: [(${mapLocation.longitude})] };

			const map = new google.maps.Map(document.getElementById("map"), {
				zoom: 10,
				center: imageLocation,
			});

			const marker = new google.maps.Marker({
				position: imageLocation,
				map: map,
			});
		}

		window.initMap = initMap;
	</script>
	<script th:inline="javascript" th:if="${xmpData}">
		$(function() {
			hljs.highlightAll();
		});
	</script>
</th:block>
</body>
</html>
