<!doctype html>
<html lang="en" layout:decorate="~{global}">
<head>
	<title>Upload</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="alert alert-success d-flex align-items-center" role="alert" th:if="${success ne null}">
			<i class="bi bi-check-circle flex-shrink-0 me-2"></i><div th:text="${success}">Success Message</div>
		</div>
		<div class="alert alert-danger d-flex align-items-center" role="alert" th:if="${error ne null}">
			<i class="bi bi-exclamation-triangle flex-shrink-0 me-2"></i><div th:text="${error}">Error Message</div>
		</div>

		<h1>Let's get started by uploading an image!</h1>
		<p class="fs-5 col-md-8">The image you upload will be resized and the metadata will be extracted.</p>

		<form name="imageUploadForm" id="imageForm" method="POST" enctype="multipart/form-data"
			  th:action="@{'/'}" th:object="${imageUploadForm}">

			<div th:if="${#fields.hasErrors('*')}">
				<div class="alert alert-danger d-flex align-items-center" role="alert" th:each="err : ${#fields.errors('imageUploadForm.*')}" th:text="${err}">
					Error Message
				</div>
			</div>

			<div th:if="${#fields.hasAnyErrors()}">
				<div class="alert alert-danger d-flex align-items-center" role="alert" th:each="err : ${#fields.allErrors()}">
					<i class="bi bi-exclamation-triangle flex-shrink-0 me-2"></i><div th:text="${err}"></div>
				</div>
			</div>

			<div class="mb-2">
				<label for="imageFile" class="form-label">Upload Image (JPG, PNG, GIF)</label>
				<input class="form-control" type="file" id="imageFile" name="imageFile" >
			</div>
			<div class="mb-3">
				<label for="title" class="form-label">Caption/Title (Optional)</label>
				<input type="text" class="form-control" id="title" name="title">
			</div>
			<div class="mb-3">
				<label for="referenceId" class="form-label">Reference Id (Optional)</label>
				<input type="text" class="form-control" id="referenceId" name="referenceId">
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="removeMetadata" name="removeMetadata" th:field="*{removeMetadata}">
				<label class="form-check-label" for="removeMetadata">
					Remove Metadata
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="" id="populateWindowsTags" name="populateWindowsTags" th:field="*{populateWindowsTags}">
				<label class="form-check-label" for="populateWindowsTags">
					Populate Windows Tags
				</label>
			</div>
			<hr class="col-12">
			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-3"><i class="bi bi-upload"></i> Upload photo</button>
			</div>
			<div class="alert alert-primary d-flex align-items-center" role="alert">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
				<div>
					Keep in mind that the images you upload are not larger than <span th:text="${uploadSizeLimit}">uploadSizeLimit2</span> MB.
				</div>
			</div>
		</form>

		<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
			<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
			</symbol>
		</svg>

		<hr class="col-12">

		<div class="row image-grid" th:if="${files != null and !files.empty}">
			<div class="col-sm-6 col-lg-4 mb-4 image-grid-item" th:each="file : ${files}">
				<div class="card">
					<img class="card-img-top" th:src="@{'/images/' + ${file} + '?width=400'}" th:alt="${file}"/>
					<div class="card-body">
						<p class="card-text" th:text="${file}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
							<a th:href="@{'/image-details/' + ${file}}" class="btn btn-primary"><i class="bi bi-zoom-in	"></i> Details</a>
							<a th:href="@{'/images/' + ${file} + '?download=true'}" class="btn btn-outline-secondary"><i class="bi bi-download"></i> Download</a>
							<a th:href="@{'/delete-image/' + ${file}}" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr class="col-12" th:if="${files != null and !files.empty}">
		<div class="row g-5">
			<div class="col-md-6">
				<h2>Resources</h2>
				<p>Some additional resources for retrieving image metadata.</p>
				<ul>
					<li class="d-flex align-items-start mb-1"><a href="https://medium.com/@hillert/read-write-image-metadata-with-java-part-1-d5e2057c80d9" rel="noopener" target="_blank">Read & Write Image Metadata with Java — Part 1</a></li>
					<li class="d-flex align-items-start mb-1"><a href="https://medium.com/@hillert/read-write-image-metadata-with-java-part-2-9c5c0d817021" rel="noopener" target="_blank">Read & Write Image Metadata with Java — Part 2</a></li>
					<li class="d-flex align-items-start mb-1"><a href="https://github.com/ghillert/image-metadata" rel="noopener" target="_blank">GitHub Repository</a></li>
				</ul>
			</div>
			<div class="col-md-6">
				<h2>Used Frameworks/Libraries</h2>
				<ul class="icon-list ps-0">
					<li class="d-flex align-items-start mb-1"><a href="https://spring.io/projects/spring-boot">Spring Boot 3</a><span class="px-2">|</span>Web Framework</li>
					<li class="d-flex align-items-start mb-1"><a href="https://www.thymeleaf.org/">Thymeleaf</a><span class="px-2">|</span>Server-side Java template engine</li>
					<li class="d-flex align-items-start mb-1"><a href="https://commons.apache.org/proper/commons-imaging/">Apache Commons Imaging</a><span class="px-2">|</span>Read + Write Metadata</li>
					<li class="d-flex align-items-start mb-1"><a href="https://xmlgraphics.apache.org/commons/">Apache XML Graphics Commons</a><span class="px-2">|</span>Change XMP XML</li>
					<li class="d-flex align-items-start mb-1"><a href="https://github.com/haraldk/TwelveMonkeys">TwelveMonkeys ImageIO</a><span class="px-2">|</span>Resizing</li>
					<li class="d-flex align-items-start mb-1"><a href="https://xerces.apache.org/xerces2-j/">Xerces</a><span class="px-2">|</span>Reformatting of raw XMP XML
					</li>
				</ul>
			</div>
		</div>
	</main>
</body>
</html>
