<!doctype html>
<html lang="en" layout:decorate="~{global}">
<head>
	<title>Upload Error</title>
</head>
<body>
	<main layout:fragment="content">
		<div class="alert alert-danger d-flex align-items-center" role="alert">
			<i class="bi bi-exclamation-triangle flex-shrink-0 me-2"></i><div>Error Message</div>
		</div>
		<div th:text="${errorMessage}">Something unexpected happened.</div>
		<a class="btn btn-primary"
		   th:href="${(#mvc.url('IC#index')).build()}" role="button"><i class="bi bi-arrow-left"></i> Back</a>
	</main>
</body>
</html>
